li.md-it-list-marker__item {
  position: relative;
}

span.md-it-list-marker__marker {
  position: absolute;
  height: 27.1875px;
  width: 8px;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  left: -17px;
}

span.md-it-list-marker__text {
  text-align: left;
}
